# Ignore image file

# Ignore indicate file
*.o
.*
*.*~
*.map
*.svg
*.
*.a
*.cmd
*.img
*.bin
Module.symvers
*.ko
*.order
*.mod.c
*.mod.o
*.o.cmd
*.mod.c
*.symvers
*.order
.*.o.cmd
*.tmp_versions
.tmp_versions
*.ko.cmd
.*.ko.cmd
*.*.ko.cmd

# Execte file

# Ignore dirent

!.gitignore
# output

